.square-container {
    position: relative;
    width: 100%;
    height: 0;
    /* padding-bottom: 50%; Creates a square container based on width */
    /* overflow: hidden; */
  }
  
  .object-fit-cover {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
  }
  /* ApartmentDetails.css */

.apartment-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.apartment-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.property {
  margin-bottom: 10px;
}

.apartment-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.apartment-listing {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 20px;
}

.apartment-listing-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.add-apartment-btn {
  margin-top: 10px;
  font-size: 16px;
}
